<div>
    <h2>Lottery Contract</h2>
    <p>
        This contract is managed by {{manager}}
        There are currently people {{players?.length}} entered, competing to win
        <span *ngIf="balance">{{web3.utils.fromWei(balance, 'ether')}}</span> ether
    </p>

    <hr>

    <form (submit)="onSubmit()">
        <h4>Want to try your luck?</h4>
        <div>
            <label>Amount of ether to enter</label>
            <input type="text" name="value" [(ngModel)]="value">
        </div>
        <button type="submit">Enter</button>
    </form>

    <hr>

    <h4>Ready to pick a winner?</h4>
    <button (click)="onClick()">Pick a winner!</button>

    <hr>

    <h1>{{message}}</h1>
</div>